<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Welcome to the CSE 340 Service Network!</h2>
    <p>The following categories are as shown. </p>
    <ul>
        <li>Environmental</li>
        <li>Educational</li>
        <li>Community Service</li>
        <li>Health and Wellness</li>
    </ul>

    <img class="main-logo" src="images/cse340-service-network.png" alt="CSE 340 Service Network Logo">

</main>

<%- include('partials/footer') %>